#navbar_supported_content ul > li > button.active {
  background-color: #33334d;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.2s;
  cursor: pointer;
}

#navbar_supported_content ul > li > button {
    font-weight: bold;
    color: black;

}

#pills_tabcontent {

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  margin: 0px auto;
  padding: 20px;
}
